<body>

<h1>ON / OFF</h1>

 Led 1 :  
<div >
<form action="http://192.168.0.150:4000/led/1/1" method="get">
<input type="submit" href="/" value="ON">
</form>

<form action="http://192.168.0.150:4000/led/1/0" method="get">
 <input type="submit" href="/" value="OFF"></p>
</form>
</div>



<div>
Led 2 :  
<form action="http://192.168.0.150:4000/led/2/1" method="get">
<input type="submit" href="/" value="ON">
</form>

<form action="http://192.168.0.150:4000/led/2/0" method="get">
<input type="submit" href="/" value="OFF"></p>
</form>
</div>

</body>
